name: build-laravel

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"
  push:
    branches:
      - main

jobs:
  push:
    name: "Coho04:laravel_${{ matrix.tag }}_php_${{ matrix.php_version }}${{ matrix.variant == 'nginx' && '_nginx' || '' }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          - 11
        php_version:
          - 82  # PHP 8.2
          - 83  # PHP 8.3
          - 84  # PHP 8.4
        variant:
          - ""       # default
          - "nginx"  # nginx variant

    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.REGISTRY_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./${{ matrix.tag }}/php_${{ matrix.php_version }}/${{ matrix.variant == 'nginx' && 'nginx/' || '' }}Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/coho04/pterodactyl-docker-images:laravel_${{ matrix.tag }}_php_${{ matrix.php_version }}${{ matrix.variant == 'nginx' && '_nginx' || '' }}
